@use 'variables' as var;
// Permite crear un flex con valores variables.
@mixin caja-flex($direction, $justify, $align, $gap: 0) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

// Permite realizar el responsive
@mixin desktop {
    @media screen and (min-width: var.$medium) {
        @content
    }
}