// Primary Colors 
$primary: #26c0ab;
// Neutral colors
$very-dark-cyan: #00494d;
$dark-grayish-cyan: #5e7a7d;
$grayish-cyan: #7f9c9f;
$light-grayish-cyan: #c5e4e7; //fondo
$very-light-grayish-cyan: #f4fafa;
$white: #ffffff;